/node_modules
/public/hot
/public/storage
/public/gambar-artikel
/public/gambar-research
/public/gambar-colaboration
/public/gambar-roadmap
/public/gambar-topResearch
/public/gambar-product
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
