main .article .article-title {
  margin-bottom: 1em;
}

main .article .article-column .article-card {
  border-radius: 1em;
  box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.25);
}

main .article .article-column .article-card:hover {
  box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.75);
}

main .article .article-column .article-card .article-card-img {
  border-radius: 1.2em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

main .article .article-column .article-card .article-card-body .article-card-title {
  color: #1d1d1d;
  font-weight: bold;
}

main .article .article-column .article-card .article-card-body .article-card-text {
  color: #1d1d1d;
}

main .article .article-column .article-card .article-card-body a {
  margin-bottom: 1em;
}

main .article .article-button a {
  text-decoration: none;
}

main .article .article-button a svg {
  color: rgba(255, 255, 255, 0.25);
}

main .article .article-button a svg:hover {
  color: #FFEBCE;
}

main .article .article-button a span {
  color: rgba(255, 255, 255, 0.25);
}
